[Unit]
Description=backup files from server-one to the backup-server using rsync

[Service]
Type=oneshot
ExecStart=/opt/backup/backup

[Install]
WantedBy=multi-user.target
